.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 10%;
    background-color: #242424;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
    background-image: linear-gradient(to top, #646cff, #4b7aff, #3087ff, #1292ff, #009cff);
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #646cff;
  }
  .links {
    display: flex;
    gap: 20px;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #000003;
    font-weight: bold;
  }
  
  .active {
    border-bottom: 2px solid #646cff;
    color: #646cff;
  }