.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding: 1rem 2rem;
    background-image: linear-gradient(to top, #646cff, #4b7aff, #3087ff, #1292ff, #009cff);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #646cff;
}

.links {
    display: flex;
    gap: 25px;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.link:hover {
    color: #646cff;
}

.active {
    border-bottom: 2px solid #646cff;
    color:#646cff;

}